@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a demo of an online platform to use online services for buying the coins that are sold in the occasion of Dhanteras. </p>
