html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
    margin-top: 0px;
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.coin-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

    .coin-card:hover {
        transform: translateY(-10px);
    }

.coin-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.coin-details {
    padding: 15px;
    text-align: center;
}

.coin-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.quantity-section {
    margin: 10px 0;
}

.quantity-input {
    width: 60px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.action-links a {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
}

.btn-info {
    background-color: #17a2b8;
    color: white;
    border: none;
}

    .btn-info:hover {
        background-color: #138496;
    }

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
}

    .btn-primary:hover {
        background-color: blue;
    }

@media (max-width: 768px) {
    .coin-card {
        margin-bottom: 15px;
    }

    .coin-name {
        font-size: 18px;
    }
}

#welcome{
    background-image:url(/images/bank.jpg);

}